#!/usr/bin/env python
import os

# user account in VM.
USERID = 'clex'

# VM location and size.
SRC_DIR = '/data/' + os.environ.get('USER') + '/images'
DST_DIR = '/data/' + os.environ.get('USER') + '/taco1-lab'
OSD_DIR = '/srv/nfs/' + os.environ.get('USER') + '/taco1-lab'

# machine list.
PREFIX = 'taco1-'
VMS = [
        PREFIX + 'master',
        PREFIX + 'worker1',
        PREFIX + 'worker2',
]

# machine role list.
ROLES = {
        PREFIX + 'master': ['master', 'storage'],
        PREFIX + 'worker1': ['worker', 'compute'],
        PREFIX + 'worker2': ['worker', 'compute'],
}
CORES = {
        PREFIX + 'master': 16,
        PREFIX + 'worker1': 16,
        PREFIX + 'worker2': 16,
}
MEM = {
        PREFIX + 'master': 64,
        PREFIX + 'worker1': 64,
        PREFIX + 'worker2': 64,
}
DISK = {
        PREFIX + 'master': 120,
        PREFIX + 'worker1': 30,
        PREFIX + 'worker2': 30,
}
# For VM with storage role
OSD_NUM = 3     # The number of osd disks for VM with storage role
OSD_SIZE = 100   # OSD disk size in GiB.
# machine IP list.
NET = { 'ext': '192.168.150',
        'mgmt': '192.168.151',
        'provider': '192.168.152',
        'tenant': '192.168.153',
        'ceph-pub': '192.168.154',
        'ceph-cluster': '192.168.155',
}

GW = '192.168.150.1'    # Gateway IP address
DNS = '8.8.8.8'     # DNS server IP
IP = 120  # The last octet of the IP address to begin.
IPS = {
        PREFIX + 'master': [
                            NET['ext'] + '.' + str(IP),
                            NET['mgmt'] + '.' + str(IP),
                            NET['provider'] + '.' + str(IP),
                            NET['tenant'] + '.' + str(IP),
                            NET['ceph-pub'] + '.' + str(IP),
                            NET['ceph-cluster'] + '.' + str(IP),
        ],
        PREFIX + 'worker1': [
                            NET['ext'] + '.' + str(IP+1),
                            NET['mgmt'] + '.' + str(IP+1),
                            NET['provider'] + '.' + str(IP+1),
                            NET['tenant'] + '.' + str(IP+1),
                            NET['ceph-pub'] + '.' + str(IP+1),
                            '',
        ],
        PREFIX + 'worker2': [
                            NET['ext'] + '.' + str(IP+2),
                            NET['mgmt'] + '.' + str(IP+2),
                            NET['provider'] + '.' + str(IP+2),
                            NET['tenant'] + '.' + str(IP+2),
                            NET['ceph-pub'] + '.' + str(IP+2),
                            '',
        ],
}
# Do not edit below this line!!!
# debian openstack image 
# disk total size: 2G
# Login account: debian
DEB_IMG_URL = 'http://cdimage.debian.org/cdimage/openstack/testing'
DEB_VER = 'testing'
DEB_ARCH = 'amd64'
DEB_IMG = 'debian-{}-openstack-{}.qcow2'.format(DEB_VER, DEB_ARCH)
DEB_UID = 'debian'
DEB_KEYSERVER = 'keyring.debian.org'
DEB_KEYID = 'F41D30342F3546695F65C66942468F4009EA8AC3' # debian testing key
# centos openstack image 
# disk total size: 8G
# Login account: centos
CENTOS_VER = '7'
CENTOS_IMG_URL = 'http://cloud.centos.org/centos/{}/images'.format(CENTOS_VER)
CENTOS_ARCH = 'x86_64'
CENTOS_IMG = 'CentOS-{}-{}-GenericCloud.qcow2'.format(CENTOS_VER, CENTOS_ARCH)
CENTOS_UID = 'centos'

# which OS you choose. DEB or CENTOS?
OS = 'CENTOS'
IMG_URL = eval('{}_IMG_URL'.format(OS))
VER = eval('{}_VER'.format(OS))
ARCH = eval('{}_ARCH'.format(OS))
IMG = eval('{}_IMG'.format(OS))
UID = eval('{}_UID'.format(OS))

SSHKEY = os.environ.get('HOME') + '/.ssh/id_rsa'

#print(OS, IMG_URL, IMG)
